body {
    padding: 0;
    margin: auto;
    width: 400px;

    text-align: center;
}

body main ol {
    list-style-position: inside;
}

body main ol li {
    width: 150px;
    margin: 5px auto 5px auto;
    text-align: left;
}

body main ul {
    list-style: none;
}

body main ul li {
    width: 200px;
    margin: 5px auto 5px auto;
    text-align: left;
}